@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: relative;
    top: -5px;
    height: 35px;
    width: auto;
}

.navbar {
    position: absolute;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;
}

.navbar.sticky {
    position: fixed;
    top: 0px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-size: 20px;
    margin: 10px 20px;
}

.nav-link:hover {
    transform: scale(1.1);
}

#language-nav {
    margin-right: 20px;
}

#language-selector {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    text-align: center;
    color: inherit;
    background-color: inherit;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

#language-selector:hover {
    color: inherit;
    background-color: inherit;
    border: none;
}

#about-me,
#experience,
#education,
#services,
#testimonials,
#contacts {
    scroll-margin-top: 102px;
}

.masthead {
    position: relative;
    z-index: 1;
}

.masthead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: -1;
}

.masthead .container {
    width: 100%;
    max-width: none;
}

#title {
    font-family: BebasNeue;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

#subtitle {
    font-style: italic;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

header.masthead {
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../img/map.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 2.25rem;
}


@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}

.services .card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.services .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.aboutme {
    width: 80%;
    padding: 30px;
}

.experience-card {
    padding: 60px;
}

.experience {
    cursor: pointer;
    padding: 30px;
    background-color: #f8f9fa;
}

.card-img-top {
    height: 350px;
    width: auto;
    object-fit: scale-down;
}

#experience {
    padding-bottom: 40px;
}

.testimonial-card {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.testimonial-text {
    max-width: 500px;
}

.testimonial-quote {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    line-height: 1.4;
}

.blockquote-footer {
    font-size: 1rem;
    color: #6c757d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #395594;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: inherit;
    border: none;
    padding: 10px;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.online-tutoring-section {
    padding: 0 20px 50px 0;
}

.online-tutoring-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.online-tutoring-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.online-tutoring-section .text {
    flex: 1 1 auto;
    text-align: left;
}

.online-tutoring-section .text p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #555;
}

.online-tutoring-section .text ul {
    list-style: none;
    padding: 0;
}

.online-tutoring-section .text ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.online-tutoring-section .text .cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.online-tutoring-section .text .cta-button:hover {
    background-color: #0056b3;
}

.online-tutoring-img {
    flex: 1 1 auto;
}

.online-tutoring-img img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contact-button:hover {
    background-color: #0056b3;
}

.footer-line {
    margin-top: 50px;
}

.fas {
    margin: 10px;
}

.contacts {
    font-family: Jura;
    font-size: 20px;
}

.return {
    padding-top: 30px;
}

#footer {
    margin-top: 50px;
}

#return-button:hover {
    background-color: white;
    color: #6C757D;
    border-color: #6C757D;
}

.phone-container {
    margin-top: 8px;
}

.email-container {
    display: flex;
    align-items: center;
}

.contact-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 320px;
    min-width: 200px;
    background-color: white;
    color: black;
    opacity: 0.7;
    border: 2px solid #6C757D;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 99;
    text-align: center;
    overflow-wrap: break-word;
    cursor: grab;
}

.contact-popup p {
    margin: 0;
}

#close-popup {
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  #close-popup:hover {
    color: #0056b3;
  }

.contact-popup {
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* Responsive adjustments */

@media (max-width: 1200px) {

    /* Large screens */
    .lead {
        font-size: calc(1rem + 0.75vw);
    }

    .quote-text {
        font-size: 1.1rem;
    }

    .quote-author {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {

    /* Medium screens (tablets) */
    #title {
        font-size: 80px;
        /* Adjust the font size for smaller screens */
        white-space: wrap;
    }

    #subtitle {
        font-size: 20px;
    }

    .lead {
        font-size: calc(0.875rem + 0.5vw);
    }

    .quote-text {
        font-size: 1rem;
    }

    .quote-author {
        font-size: 0.85rem;
    }

    .contact-popup {
        max-width: 280px;
        padding: 10px;
    }

    .contact-popup p {
        font-size: 14px;
    }


    .phone-container,
    .email-container {
        font-size: 15px;
    }

    #close-popup {
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}

@media (max-width: 768px) {

    /* Small screens (phones) */
    #title {
        font-size: 80px;
        white-space: wrap;
    }

    .lead {
        font-size: calc(0.75rem + 0.5vw);
    }

    .quote-text {
        font-size: 0.9rem;
    }

    .quote-author {
        font-size: 0.8rem;
    }

    .testimonial-card {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-img-wrapper {
        width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .testimonial-text {
        max-width: 100%;
    }

    .testimonial-quote {
        font-size: 1.3rem;
    }

    .online-tutoring-section {
        padding: 40px 15px;
    }

    .online-tutoring-section .container {
        text-align: center;
    }

    .online-tutoring-section .content {
        flex-direction: column;
    }

    .online-tutoring-section .text {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .online-tutoring-section .text ul {
        text-align: left;
        margin: 0 auto;
        max-width: 300px;
    }

    .online-tutoring-section .visual {
        flex: 1 1 100%;
    }

    .online-tutoring-section .visual img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .online-tutoring-section .text .cta-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .online-tutoring-section .section-title {
        font-size: 2rem;
    }

    .contact-popup {
        max-width: 280px;
        padding: 10px;
    }

    .contact-popup p {
        font-size: 14px;
    }

    .phone-container,
    .email-container {
        font-size: 14px;
    }

    #close-popup {
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}

@media (max-width: 576px) {

    /* Extra small screens */
    #title {
        font-size: 60px;
        white-space: wrap;
    }

    .lead {
        font-size: 1rem;
    }

    .quote-text {
        font-size: 0.85rem;
    }

    .quote-author {
        font-size: 0.75rem;
    }

    .testimonial-card {
        padding: 15px;
    }

    .testimonial-img-wrapper {
        width: 80px;
        height: 80px;
    }

    .testimonial-quote {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    .contact-popup {
        max-width: 250px;
        padding: 8px;
    }

    .contact-popup p {
        font-size: 12px;
    }

    .phone-container,
    .email-container {
        font-size: 12px;
    }

    #close-popup {
        width: 15px;
        height: 15px;
        font-size: 8px;
    }
}