@font-face {
    font-family: 'Jura';
    src: url('Fonts/Jura-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.logo {
    position: relative;
    top: -5px;
    height: 35px;
    width: auto;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav-link {
    font-size: 20px;
    margin: 20px;
}

#about-me, #experiencia, #educacao, #footer {
    scroll-margin-top: 102px; /* Adjust this value based on your navbar height */
  }
  

.custom-jumbotron {
    background-image: url('/Images/notebook-computer-books.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    align-items: center; /* This centers the content vertically */
}

#jumbotron-bar {
    opacity: 65%;
    width: 100%;
    line-height: 1px;
}

.jumbotron-title {
    font-family: Jura;
}

#competencias {
    color: #6C757D;
}

.aboutme,
.experience{
    padding: 30px;
}

.aboutme {
    width: 80%;
}

.experience-card {
    padding: 60px;
}

.experience {
    cursor: pointer;
}

.card-img-top {
    height: 350px;
    width: auto;
    object-fit: scale-down;
}

.second-line-cards {
    position: relative;
    top: 10px;
}

#contact-button:hover {
    background-color: white;
    color: #6C757D;
    border-color: #6C757D;
}

.media-image {
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
  }
  
.experience-list {
    padding: 50px;
}

.media-body {
    margin: 60px;
}

.educacao {
    padding: 40px;
}

.footer-line{
    margin-top: 50px;
}

.fas {
    margin: 10px;
}

.contacts {
    font-family: Jura;
    font-size: 20px;;
}

#copyright {
    margin: 15px;
}

